{% extends "base.html" %}

{% block content %}
  <h1>
    {{ car.model }}
  </h1>
  <p><strong>Manufacturer: </strong>({{ car.manufacturer.name }}, {{ car.manufacturer.country }})</p>
  <div class="ml-3">
    <h3>
      Drivers
      <div class="link-to-page">
        {% if user in car.drivers.all %}
          <a href="{% url 'taxi:assign-or-delete-user-in-car-drivers-list' pk=car.id %}"
             class="link-to-page btn btn-danger">
            Delete me from this car
          </a>
        {% else %}
          <a href="{% url 'taxi:assign-or-delete-user-in-car-drivers-list' pk=car.id %}"
             class="link-to-page btn btn-success">
            Assign me to this car
          </a>
        {% endif %}
      </div>
    </h3>
    <hr>
    <ul style="list-style: none; margin: 0; padding: 0">
      {% for driver in car.drivers.all %}
        <li>
          <strong>Username: </strong>{{ driver.username }}<br>
          <strong>Full name: </strong>{{ driver.first_name }} {{ driver.last_name }}<br>
          <strong>Username: </strong>{{ driver.license_number }}<br>
        </li>
        <hr>
      {% endfor %}
    </ul>
    <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger">
      Delete
    </a>

    <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary">
      Update
    </a>
  </div>
{% endblock %}
